ErrorDocument 404 https://wayshk.ngt.hk/W-Wayshk/404.php

RewriteEngine on

RewriteRule ^Home index.php [NE,L]
RewriteRule ^Gallery gallery.php [NE,L]
RewriteRule ^Contact contact.php [NE,L]
RewriteRule ^Asset trust-assets.php [NE,L]
RewriteRule ^IncomeSource income-source.php [NE,L]