ErrorDocument 404 https://khulnatrust.com/

RewriteEngine on

RewriteRule ^Home index.php [NE,L]
RewriteRule ^Gallery gallery.php [NE,L]
RewriteRule ^Contact contact.php [NE,L]
RewriteRule ^Asset trust-assets.php [NE,L]
RewriteRule ^IncomeSource income-source.php [NE,L]
RewriteRule ^Donation donation-education.php [NE,L]